version: '3'

services:
  mcpex:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    environment:
      - MIX_ENV=dev
    command: mix run --no-halt